<div class="body">

  <div class="header">
    <img class="picture" src="/assets/images/userpic.svg">
    <h1>{{name}}</h1>
    <a class="button" (click)="logout()">Logout</a>
  </div>

  <div class="desc">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel ante vel magna venenatis pharetra. Fusce aliquam
    fermentum justo, hendrerit pulvinar nibh sagittis vel. Etiam id est blandit, fermentum ipsum in, imperdiet enim. Vivamus
    lobortis tristique aliquam. Quisqnd ante. Sed nisl urna, sagittis sed est vitae, tristique hendrerit.</p>
  </div>

  <div class="event">
    <div class="eventitem">
      <h1>EVENT</h1>
    </div>
    <div class="eventitem">
      <h1>EVENT</h1>
    </div>
    <div class="eventitem">
      <h1>EVENT</h1>
    </div>
  </div>

</div>