.picture {
    background-color: black;
    border-radius: 50%;
    padding: 10%;
    margin-bottom: 10%;
}

.desc {
    padding: 0 16%;
    margin: 8% 0;
}

.event {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.eventitem {
    background-color: var(--c-red);
    flex: 0 0 10%;
    margin: 2% 1%;
    padding: 10%;
    border-radius: 10px;
}

.button {
    padding: 2% 4%;
    width: 30%;
}