.navbar {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 5%;
    padding: 0.3% 0;
    z-index: 1;
    font-family: "Avenir Roman";

    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

.navitem {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.navsubitem {
    padding: 0% 1%;
    display: inline-block;
    display: flex;
    align-items: center;
}

.navsubitem a {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}

.navsubitem a:hover {
    font-weight: bolder;
    color: var(--c-red);
    text-decoration: none;
}

.redlink {
    text-decoration: none;
    background-color: var(--c-red);
    border-radius: 4px;
}

.redlink a:hover {
    color: black;
}