<div *ngIf="nav.visible" class="navbar">
  
  <div class="navitem">
    <div class="navsubitem">
      <a routerLink="/home"><img src="/assets/images/logowhite.svg" width="80%" height="100%"></a>
    </div>
  </div>

  <div class="navitem" style="justify-content:space-evenly">
    <div class="navsubitem">
      <a routerLink="/home">HOME</a>
    </div>
    <div class="navsubitem">
      <a routerLink="/about">ABOUT</a>
    </div>
    <div class="navsubitem">
      <a routerLink="/data/event">EVENTS</a>
    </div>
    <div class="navsubitem">
      <a routerLink="/data/provider">ORGANIZATIONS</a>
    </div>
    <div class="navsubitem">
      <a routerLink="/volunteers">VOLUNTEERS</a>
    </div>
    <div *ngIf="!loggedIn" class="navsubitem redlink">
      <a routerLink="/auth/login">JOIN NOW</a>
    </div>
    <div *ngIf="loggedIn" class="navsubitem redlink">
      <a routerLink="/auth/profile">PROFILE</a>
    </div>
  </div>

</div>