<div *ngIf="foo.visible" class="foobar">

  <div class="fooitem">

    <div class="foosubitem">
      <img src="/assets/images/facebook.png">
    </div>

    <div class="foosubitem" >
      <img src="/assets/images/instagram.png">
    </div>

  </div>

  <div class="fooitem" style="justify-content: space-around">

    <div class="foosubitem">
      <a href="">Privacy Policy</a>
    </div>
    <div class="foosubitem">
      <a routerLink="/termsconditions">Terms & Conditions</a>
    </div>
    <div class="foosubitem">
      <p style="color: white">Copyright © 2019 CollectiveAid. All rights reserved</p>
    </div>
    
  </div>

</div>
