.foobar {
    background-color: black;
    width: 100%;
    height: 5%;
    z-index: 1;
    font-family: "Avenir Roman";

    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

.fooitem {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding-right: 1%;
}

.foosubitem {
    display: inline-block;
    margin-top: 1%;
    font-size: 10pt;
}

.foosubitem img {
    width: 80%;
}

.foosubitem a {
    color: white;
}

.foosubitem a:hover {
    color: #c22b33;
    font-weight: bolder;
    text-decoration: none;
}