h1 {
    font-size: 60px;
}

form {
    padding: 0 20%;
}

form input {
    width: 100%;
    padding-bottom: 10px;
    font-size: 17px;
    margin-bottom: 5%;
}

form input[type="checkbox"] {
    width: 10%;
}

form label {
    text-align: center;
    display: block;
}

form img {
    width: 40%;
    height: 40%;
    margin-top: 6%;
}

.button {
    padding: 4% 10%;
    width: 50%;
}

.body {
    padding: 2% 26%;
    min-height: 96vh;
}

.logo {
    position: absolute;
    padding: 1%;
    z-index: 1;
    top: 0;
    left: 0;
}

#validation {
    display: none;
    color: var(--c-red);
}