<a routerLink="/home"><img class="logo" src="/assets/images/backtop.svg"></a>

<div class="body">

  <form #myform="ngForm" (ngSubmit)="login(myform)">
    <h1>Login</h1>
    <p>Welcome back! Nice to see you again.<p><br>

    <input type="text" name="login" placeholder="Email/Username" ngModel required><br>
    <input type="password" name="password" placeholder="Password" ngModel required>

    <label id="validation"></label><br>

    <label><input type="checkbox" name="keep"> Keep me signed in</label>

    <label><input type="submit" class="button"></label>

    <label>No account yet? <a routerLink="/auth/register" style="color: var(--c-red);">Register</a></label>
    
  </form>

</div>
  