<div parallax [config]="{initialValue: 0, ratio: -.15}" class="image">
</div>

<div class="caption">
  <h1>SEARCH EVENTS <span style="color:var(--c-red)">AROUND YOU</span></h1>
  <h2>Pick to your own likings.</h2>
</div>

<div class="body">

  <form (ngSubmit)="filterEvent()">
    <div class="filter">
      <div class="filteritem" *ngFor="let filter of filterlist">
        <input #check type="checkbox" name="{{filter['id']}}" (change)="checkFilter(check)">
        <label>{{filter['service']}}</label>
      </div>
    </div>

    <input type="submit" class="button" value="Filter">
  </form>

  <div class="event">
    <div class="eventitem" *ngFor="let event of filteredlist" (click)="getClickedEvent(event['id'])">
      <div class="eventsubitem">
        <img class="picture" src="https://api.thecollectiveaid.com/{{event['pictures'][0]['picture']}}">
        <h2>{{event['name']}}</h2>
        <p>{{event['location']}}</p>
        <div class="small">
          <p>{{event['date_from']}} to {{event['date_to']}}
            <p>capacity: {{event['capacity']}}</p>
        </div>
      </div>

    </div>
  </div>

</div>