.image{
    background-image: url("/assets/images/header3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.caption {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.caption h1 {
    font-size: 80px;
}

.event {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 3.5%;
    margin-top: 10%;
}

.eventitem {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 3px solid var(--c-gray);
    border-radius: 10px;
    flex: 0 0 27%;
    padding: 1% 2%;
    margin: 1% 0.5%;
    cursor: pointer;
}

.eventsubitem {
    text-align: left;
    padding: 0 1%;
}

.filter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    width: 100%;
    border: 3px solid var(--c-gray);
    font-size: 17px;
    border-radius: 10px;
}

.filteritem {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2% 1.5%;
}

.small p {
    font-size: 10px;
}

.button {
    padding: 1% 10%;
}

.picture {
    width: 100%;
}

form input[type="checkbox"] {
    margin-top: 0;
    margin-bottom: 8px;
}