<a routerLink="/auth/login"><img class="logo" src="/assets/images/xred.svg"></a>

<div class="body">

  <form #myform1="ngForm" (ngSubmit)="appendToFormData(myform1)" enctype="multipart/form-data">
    
    <div class="tab" *ngIf="currentTab == 1" style="margin-top: 16%">
      <h1>What's your name?</h1>
      <p>We want to address you properly.</p>
      <input type="text" name="name" placeholder="Full Name" ngModel required maxlength="255">
      <label id="val name"></label>
      
      <button type="submit">
        <img class="nextimg" src="/assets/images/redgobutton.svg">
      </button>
    </div>

  </form>

  <form #myform2="ngForm" (ngSubmit)="appendToFormData(myform2)" enctype="multipart/form-data">
    <div class="tab" *ngIf="currentTab == 2">
      <!-- <img class="backimg" src="/assets/images/redbackbutton.svg" (click)="goBack()"> -->

      <h1 style="margin: 1% 0;">Fill in your details</h1>
      <p>We want to get your details right.</p>
      <input type="text" name="username" placeholder="Username" ngModel required maxlength="255">
      <label id="val username"></label>
      <input type="email" name="email" placeholder="Email" ngModel required maxlength="255">
      <label id="val email"></label>
      <input type="password" name="password" placeholder="Password" ngModel required>
      <label id="val password"></label>
      <input type="password" name="password_confirmation" placeholder="Confirm Password" ngModel required minlength="8">
      <label id="val password_confirmation"></label>
      <input type="text" name="dob" placeholder="Date of Birth (MM/DD/YYYY)" ngModel required>
      <label id="val dob"></label>
      
      <button type="submit">
        <img class="nextimg" src="/assets/images/redgobutton.svg">
      </button>
    </div>
  </form>

  <form #myform3="ngForm" (ngSubmit)="appendToFormData(myform3)" enctype="multipart/form-data">
    <div class="tab" *ngIf="currentTab == 3">
      <!-- <img class="backimg" src="/assets/images/redbackbutton.svg" (click)="goBack()"> -->

      <h1>Prove you're real</h1>
      <p>We want to make sure everything checks out.</p>

      <div class="upload">
        <div class="uploaditem">
          <p>Upload a photo of yourself</p>
          <img src="/assets/images/upload1.svg">
          <!-- <p>Drag your picture here<br>or</p> -->
          <input type="file" name="picture" accept="image/jpg, image/png, image/jpeg" id="file" (change)="handleFileInput($event.target.files, 'picture')" ngModel required>
          <label id="val picture"></label>
          <!-- <label for="file" class="button">Choose a file</label> -->
        </div>
        <div class="uploaditem">
          <p>Upload a photo/scan of your identification</p>
          <img src="/assets/images/upload2.svg">
          <!-- <p>Drag your file here<br>or</p> -->
          <input type="file" name="identification" accept="image/jpg, image/png, image/jpeg" id="file" (change)="handleFileInput($event.target.files, 'identification')" ngModel required>
          <label id="val identification"></label>
          <!-- <label for="file" class="button">Choose a file</label> -->
        </div>
      </div>

      <button type="submit">
        <img class="nextimg" src="/assets/images/redgobutton.svg">
      </button>
    </div>
    </form>

    <form #myform4="ngForm" (ngSubmit)="appendToFormData(myform4)" enctype="multipart/form-data">
    <div class="tab" *ngIf="currentTab == 4">
      <!-- <img class="backimg" src="/assets/images/redbackbutton.svg" (click)="goBack()"> -->

      <h1>curriculum vitae</h1>
      <p>(Optional)</p>

      <div class="upload">
        <div class="uploaditem" style="width:26%; margin-left: 26%;">
          <p>Upload your CV</p>
          <br>
          <img src="/assets/images/upload2.svg">
          <!-- <p>Drag your file here<br>or</p> -->
          <input type="file" name="cv" accept="image/jpg, image/png, image/jpeg" id="file" (change)="handleFileInput($event.target.files, 'cv')" ngModel required>
          <label id="val cv"></label>
          <!-- <label for="file" class="button">Choose a file</label> -->
        </div>
      </div>

      <button type="submit" (click)="register()">
        <img class="nextimg" src="/assets/images/redgobutton.svg">
      </button>
    </div>
  </form>

  <div class="tab" *ngIf="currentTab == 5">

    <form>
      <h1>Done!</h1>
      <p>You can now <a routerlink="/auth/login" style="color:var(--c-red)">Login</a></p>
      <a class="button" routerLink="/home" style="width: 40%">Go to Home</a>
    </form>

  </div>


</div>