.logo {
    position: absolute;
    padding: 1%;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
}

h1 {
    font-size: 60px;
}

form {
    padding: 0 10%;
}

form input {
    width: 60%;
    padding-bottom: 10px;
    font-size: 17px;
}

form input[type="file"] {
    border: 0;
    width: 120%;
    /* width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1; */
}

/* form input[type="file"] + label {
    cursor: pointer;
} */

form p {
    font-size: 17px;
}

.body {
    padding: 1% 16%;
    min-height: 96vh;
}

.backimg {
    position: absolute;
    top: 50%;
    left: 14%;
    cursor: pointer;
}

.nextimg {
    position: absolute;
    top: 50%;
    left: 82%;
    cursor: pointer;
    border: 0;
}

.button {
    padding: 2% 4%;
    width: 80%;
}

.upload {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 4%;
}

.uploaditem {
    border: 2px solid var(--c-gray);
    border-radius: 12px;
    padding: 4% 10%;
    width: 100%;
    margin: 2%;
    color: var(--c-gray);
}

.uploaditem img {
    margin: 8% 0;
}

.tab {
    margin-top: 4%;
}

.gooface {
    width: 20%;
    height: 20%;
    margin-top: 2%;
}

button[type="submit"] {
    border: 0;
}

#val {
    display: none;
}

label {
    color: var(--c-red);
}