.header {
width: 100%;
height: 57vh;
font-family: "Avenir Roman";
}
agm-map {
     height: 450px;
     width: 100vw;
    }
* {
	padding:0;
	margin:0;
}
p {
	font-family: "Avenir Medium";
	padding-bottom: 5%;
}
label {
	font-family: "Avenir Roman";
}
input {
	font-family: "Avenir Roman";
	letter-spacing: 0.1em;
}
.body {
	width:500px;
	max-width:100%;	
	padding:15px;
	margin:3% auto 0;
	margin-bottom: 3%;
	position:relative;
	z-index:1;
}
.body h2 {
	font-size:1.5em;
	line-height:1.5em;
	padding-top: 0;
	padding-bottom: 20px;
}
.body p {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.5em;
	margin:0;
}

.navitem {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.navsubitem {
    padding: 0% 1%;
    display: inline-block;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.navsubitem a {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Avenir Roman";
    font-size: 1em;
}

.navsubitem a:hover {
    font-weight: bolder;
    color: var(--c-red);
    text-decoration: none;
}

.redlink {
    text-decoration: none;
    background-color: var(--c-red);
    border-radius: 4px;
    padding: 10px;
}

.redlink a:hover {
    color: black;
}

.whole {
	min-height: 98vh;
}