<div class="whole">
<div>
<agm-map [styles]="styles" [latitude]="lat" [zoom]="zoom" [longitude]="lng">
<agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>		
</agm-map>
</div>

<div class="body">
   <h2>GET IN <span style="color: #c22b33;">TOUCH</span></h2>
  <p>Hopefully by now you have had a good look around and if you have any further questions or inquiries feel free to drop us an email by clicking the button below</p>
</div>

<div class="navitem" style="justify-content:space-evenly">
<div class="navsubitem redlink">
  <a href="mailto:asokawotulo2@gmail.com?subject=** Replace with subject **"class="redbutton">Send me an email</a>
</div>
</div>
</div>
