<div class="body" *ngIf="event">
  <div *ngIf="data">
    <div class="picture">
      <div class="pictureitem" *ngFor="let picture of data['pictures']">
        <img src="https://api.thecollectiveaid.com/{{picture['picture']}}">
      </div>
    </div>
    <h1>{{data['name']}}</h1>
    <p>{{data['description']}}</p>
    <p>{{data['date_from']}} to {{data['date_to']}}</p>
    <p>Location : {{data['location']}}</p>
    <p>Capacity : {{data['capacity']}}</p>
  </div>
</div>

<div class="body" *ngIf="provider">
  <div *ngIf="data">
    <div class="picture">
      <img src="https://api.thecollectiveaid.com/{{data['login']['picture']}}">
    </div>
    <h1>{{data['login']['name']}}</h1>
    <p>{{data['login']['email']}}</p>
    <p>{{data['login']['description']}}</p>
  </div>
</div>