.picture {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.pictureitem img {
    width: 50%;
    margin-bottom: 10%;
}

h1 {
    font-size: 60px;
}

.body {
    min-height: 96vh;
}