.body{
	text-align: left;
}

.body h1{
	text-transform: uppercase;
	font-size: 40px;
	padding-bottom: 8%;
}

.body h2{
	text-transform: uppercase;
}

.logo {
    position: absolute;
    padding: 1%;
    z-index: 1;
    top: 8%;
    left: 2%;
}