.image{
    background-image: url("/assets/images/header4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.caption {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.caption h1 {
    font-size: 80px;
}

.org {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 3.5%;
    margin-top: 10%;
}

.orgitem {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 3px solid var(--c-gray);
    border-radius: 10px;
    flex: 0 0 27%;
    padding: 1% 2%;
    margin: 1% 0.5%;
    cursor: pointer;
}

.orgsubitem {
    text-align: left;
    padding: 0 1%;
}

.picture {
    width: 100%;
}