<div parallax [config]="{initialValue: 0, ratio: -.15}" class="image">
</div>

<div class="caption">
  <h1>FIND <span style="color:var(--c-red)">ORGANIZATIONS</span></h1>
  <h2>Learn more about what they do.</h2>
</div>

<div class="body">

  <div class="org">
    <div class="orgitem" *ngFor="let org of orglist" (click)="getClickedOrg(org['id'])">
      <div class="orgsubitem">
        <img class="picture" src="https://api.thecollectiveaid.com/{{org['login']['picture']}}">
        <h2>{{org['login']['name']}}</h2>
        <p>{{org['login']['description']}}</p>
      </div>
    </div>
  </div>

</div>