@font-face {
    font-family: "Avenir Black";
    src: url("/assets/fonts/AVENIRLTSTD-BLACK.OTF");
}

@font-face {
    font-family: "Avenir Roman";
    src: url("/assets/fonts/AVENIRLTSTD-ROMAN.OTF");
}

@font-face{
    font-family: "Avenir Heavy";
    src: url("/assets/fonts/AVENIR-HEAVY.TTF");
}

@font-face {
    font-family: "Avenir Next Medium";
    src: url("/assets/fonts/AVENIRNEXT-MEDIUM.TTF");
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden;
}

:root {
    --c-black: #000000;
    --c-white: #FFFFFF;
    --c-red: #C22B33;
    --c-gray: #A8A8A8;
    --c-blue: #264D90;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Avenir Black";
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    line-height: 1.6;
}

.body {
    background-color: white;
    padding: 8% 14%;
    z-index: 0;
    font-family: "Avenir Next Medium";
    text-align: center;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: black; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-red);
  border-radius: 4px;
}

form h1, h2, a {
    margin: 5% 0;
}

form input {
    border: 0;
    border-bottom: 1.5px solid black;
    border-radius: 1.5px;
    margin-top: 5%;
    outline: none;
    font-family: "Avenir Next Medium";
}

.button {
    background-color: var(--c-red);
    padding: 1% 4%;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
}