<div parallax [config]="{initialValue: 0, ratio: -.15}" class="image1">
</div>

<div class="caption">
    <h1>COLLECTIVE <span style="color:var(--c-red);">AID</span></h1>
    <h2>ALIIS VIVERE</h2>
</div>

<img class="captionimg" src="assets/images/scroll_btn.png">

<div class="body" style="padding: 8% 26%;">
    <h1>LOREM IPSUM</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Lorem ipsum dolor sit amet</p>
    <a routerLink="/auth/login">JOIN NOW</a>
</div>

<span class="line"></span>

<div class="body" style="padding: 8% 26%;">
    <h1>EXCEPTEUR SINT OCCAECAT CUPIDATAT NON PROIDENT, SUNT IN CULPA QUI OFFICIA</h1>
    <div class="column">
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptartem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi ropeior
            architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    <div class="column">
        <div class="columntesti">
            <img src="/assets/images/userpic.svg"><br>
            <p style="margin-bottom: 12%;">Name Surname</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <a href="">Read More</a>
        </div>
        <div class="columntesti">
            <img src="/assets/images/userpic.svg"><br>
            <p style="margin-bottom: 12%;">Name Surname</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <a href="">Read More</a>
        </div>
    </div>
</div>

<div parallax [config]="{initialValue: 300, ratio: -.15}" class="image2">
</div>

<div class="body">
    <h1>EXCEPTEUR SINT OCCAECAT</h1>
    <div class="column">
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    <div class="column">
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>
