.image1, .image2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.image1 {
    background-image: url("/assets/images/header.jpg");
}

.image2 {
    background-image: url("/assets/images/homeimg.png");
}
.caption {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.caption h1 {
    font-size: 80px;
}

.captionimg {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.body a {
    background-color: var(--c-red);
    padding: 2%;
    border-radius: 10px;
    color: white;
}

.body h1 {
    margin-bottom: 6%;
}

.body p {
    margin-bottom: 6%;
}

.line {
    background-color: var(--c-gray);
    position: absolute;
    left: 10%;
    width: 80%;
    height: 2px;
    border-radius: 10px;
}

.column {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 6%;
}

.columnitem p {
    text-align: left;
    margin: 0 6%;
}

.columntesti {
    background-color: var(--c-red);
    margin: 0 1%;
    padding: 6% 10%;
    color: white;
}

.columntesti a {
    margin-right: -70%;
    background-color: transparent;
}

.columntesti img {
    margin-bottom: 6%;
    background-color: white;
    padding: 16%;
    border-radius: 50%;
}
