.image3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.image3 {
    background-image: url("/assets/images/volunteers-img.png");
}

.caption {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.caption h1 {
    font-size: 80px;
}

.captionimg {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.body a {
    background-color: var(--c-red);
    padding: 2%;
    border-radius: 10px;
    color: white;
    margin-bottom: 15%;

}

.body h1 {
    margin-bottom: 6%;
}

.body p {
    margin-bottom: 6%;
}

.line {
    background-color: var(--c-gray);
    position: absolute;
    left: 10%;
    width: 80%;
    height: 2px;
    border-radius: 10px;
}

.column {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 6%;
}

.columnitem p {
    text-align: left;
    margin: 0 6%;
}

.content {
    padding-top: 0;
    background-color: white;
    z-index: 0;
    font-family: "Avenir Next Medium";
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 6%;
    padding-right: 9%;
    padding-left: 9%;
}

.content h1 {
    margin-bottom: 2%;
}

.content p {
    margin-bottom: 7%;
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 15px;
    padding-left: 15px;
}