<div parallax [config]="{initialValue: 0, ratio: -.15}" class="image3">
</div>

<div class="caption">
    <h1>THE</h1>
    <H1 style="color:var(--c-red);">VOLUNTEERS</H1>
    <h2>Learn more about what you can do.</h2>
</div>

<img class="captionimg" src="assets/images/scroll_btn.png">

<div class="body" style="padding: 8% 26%;">
    <h1>ARE YOU READY TO VOLUNTEER?</h1>
    <p>Would you like to contribute to the development of your own country and have a desire to help others? Join now!</p>
    <a routerLink="/auth/login">JOIN NOW</a>
</div>

<div class="content">
	<h1>WHAT GOES INTO VOLUNTEERING?</h1>
    <div class="column">
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    <div class="column">
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="columnitem">
            <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                ropeior
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>	
</div>